body {
        background-color: #cd9191 !important;
        
        nav {
                background: rgb(25, 152, 168);
                

                .logo_cuisine{
                        height: 50px;
                        width: auto;        
                }
                .header-logo {
                                color: white;
                                text-decoration: none;
                        }

                .header-logo__title{
                        font-family: 'Luckiest Guy';
                        font-size: 2em;
                        vertical-align: middle;
                }
                .nav-link{
                        font-family: 'Quicksand', sans-serif;
                        color:white;
                        font-weight: bold;
                        font-size: 1.5em;
                        
                        
                }

                a.nav-link{
                        text-align: center;
                }

                .active{
                        color: #d53767 !important;
                    }
        }

        td{
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
                border-bottom: 1px solid #007682 !important;
        }

        th{
                border-bottom: 1px solid #d53767 !important;   
        }

        .btn {
                font-weight: bold;
                font-size: 1.2em;
        }

        .btn_return {
                background-color: rgb(25, 152, 168);
                color: white;
        }

        .btn_return:hover {
                background-color: rgb(25, 174, 194);

        }

        .btn_edit {
                background-color: #839c10;
                color: white;

        }

        .btn_edit:hover {
                background-color: #bed16a;

        }

        .btn_edit_show {
                margin-right: 3em;
                background-color: #839c10;
                color: white;
        }

        .btn_edit_show:hover {
                background-color: #bed16a;

        }

        .btn_delete {
                background-color: #d53767;
                color: white;
                
        }

        .btn_delete:hover {
                background-color: #eb5e88;

        }

        .btn_show {
                background-color: #007682;
                color: white;
                margin-right: 1em
        }

        .btn_show:hover {
                background-color: #86d1d0;

        }

        .btn_save {
                background-color: #333333;
                color: white;
                margin-right: 3em;
                
                
        }

        .btn_save:hover {
                background-color: #757171;

        }
        

        .btn_add {
                background-color: #007682;
                color: white;
                margin-right: 3em;
        }

        .btn_add:hover {
                background-color: #26b5c5
        }

        .deco_label {
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
                color: #007682;
                font-size: 1.5em;
        }

        h1 {
                font-family: 'Quicksand', sans-serif;
                color: #007682;
        }

        .deco_row {
                border: 2px solid #d53767;
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
                border-radius: 15px;
                background-color: #e0a7b8;
        }

        .deco_row:hover {
                background-color: #e0a7b8;
        }        
        .deco_row:focus {
                outline:solid 3px #007682;
                inset-inline: #007682;
                background-color: #e0a7b8;
        }        
        

        .elt_display-desktop{
                display: none;
            }
            
        .elt_display-tablet{
        display: none;
        }
            
        .elt_display-none{
        display: none;
        }

        @media (min-width :768px){
                .elt_display-tablet{
                    display: table-cell;
                }
            
                
            }
             
            @media (max-width :768px){
                .mobile_show{
                    display: flex;
                    flex-direction: column;
                }

                .btn_show{
                        margin-right: 0;
                        margin-bottom: 1em;
                }

                .button_show{
                        display: flex;
                        flex-direction: column;
                }
            
                .btn_save {
                        
                        margin-right: 0.5em;        
                }

                .btn_edit_show {
                        margin-right: 0.5em;
                }

                
            }  
            
            
            @media  (min-width: 992px){
                .elt_display-desktop{
                display: table-cell;
                }
            }   
}

@import "~bootstrap/scss/bootstrap";