    <form method="post" action="{{ path('plat_delete', {'id': plat.id}) }}" onsubmit="return confirm('Étes vous sûre de vouloir supprimer le plat {{ plat.nom }} ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plat.id) }}">
        <button class="btn btn_delete mx-auto">Supprimer</button>
    </form>
</div>